@use '../../styles/constants/breakpoints.scss' as breakpoints;
@use '../../styles/constants/z-index.scss' as zIndex;

.root {
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  border-bottom: 3px solid #eeeeee;
  color: #c7c7c7;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: zIndex.$navBar;

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 10px 15px;

    &:hover {
      color: #4f4f4f;
      background-color: #eeeeee;
    }
  }

  .active {
    color: #212121 !important;
  }
}
