@use '../../styles/constants/colors.scss' as colors;
@use '../../styles/constants/z-index.scss' as zIndex;

.root {
  background-color: colors.$paper;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid colors.$border-light;
  color: colors.$text-light;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  z-index: zIndex.$navBar;
  box-shadow: 0 -2px 2px 5px colors.$shadow;

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 10px 15px;

    &:hover {
      color: colors.$text;
      background-color: colors.$paper-light;
    }
  }

  .active {
    color: colors.$text !important;
  }
}
