@use '../../styles/constants/colors.scss' as colors;

.root {
  color: colors.$text-light;
  background-color: colors.$paper-dark;
  border-top: 6px solid colors.$main;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  font-weight: 100;
}
