@use '../../styles/constants/colors.scss' as colors;
@use '../../styles/constants/z-index.scss' as zIndex;

.backdrop {
  z-index: zIndex.$modalBackdrop;
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background: colors.$paper;
  box-shadow: 0 0 5px 5px colors.$shadow;
  padding: 20px;
  border-radius: 5px;
}

.header {
  font-size: larger;
  font-weight: bold;
  border-bottom: 1px solid colors.$border-light;
  padding: 0 10px;
  margin-bottom: 20px;
}
