@use '../../styles/constants/colors.scss' as colors;

.createPageButton {
  display: inline-block;
  margin-bottom: 10px;
  padding: 3px 10px;
  border: 1px solid colors.$shadow;
  color: colors.$text;
  background: colors.$paper-light;
}
