$main: #ff9400;
$main-light: #ffad3b;
$main-dark: #ea8800;
$main-darker: #bd6e00;

$paper: #ffffff;
$paper-light: #f7f7f7;
$paper-light-dark: #ececec;
$paper-light-darker: #b1b1b1;
$paper-dark: #212121;

$border-light: #dadada;
$shadow: rgba(0, 0, 0, 0.1);

$text: #212121;
$text-dark: #000000;
$text-light: #c7c7c7;
